<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0Mx3JwL</string>
	<string>1RXmWdp</string>
	<string>3dBvldo</string>
	<string>Bdq6BwW</string>
	<string>BPd1OMA</string>
	<string>ER5eKR3</string>
	<string>K1d4ZMr</string>
	<string>kRp3nMl</string>
	<string>LR8ZQwv</string>
	<string>mdG97Mj</string>
	<string>o3d32Rq</string>
	<string>OedvyRb</string>
	<string>PM05nRL</string>
	<string>rw9zoMv</string>
	<string>Xw75rRB</string>
	<string>YMKgBMQ</string>
	<string>ZMa19MB</string>
	<string>ZVMVqw2</string>
</array>
</plist>
